/*.main {
  background-color: yellow;
}

div {
  background-color: rgb(0, 89, 255);
}

#div-id {
  background-color: rgb(255, 0, 17);
}*/

html {
  font-size: 30px;
}

ul {
  list-style: none;
}
li {
  font-size: 0.5rem;
}
