/*2.1.Заголовок (h1) должен быть блочным (block).*/
h1 {
  display: block;
  text-align: center;
}
p {
  text-align: justify;
}
/*2.2.Кнопка «Купить» сделайте строчно-блочным (inline-block).*/
button {
  display: inline-block;
}
/*2.3.Изображение и текст в карточке разместите с помощью flex-контейнера.*/

.conteiner > img {
  width: 500px;
  display: flex;
}
/*3.1.Добавьте отступы, рамку и закруглённые углы.*/
.conteiner {
  border: 5px solid rgb(15, 0, 128);
  padding: 20px;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  text-align: justify;
}
/*3.2.Настройте ширину карточек с помощью процентов.*/
.products {
  width: 50%;
  /*3.3.Используйте display: flex; для контейнера .products, чтобы карточки выстроились в ряд.*/
  display: flex;
  flex-direction: row;
}
