.card {
  width: 250px;

  border: 1px solid #280808;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}
.card img {
  width: 90%;
  height: auto;
  border-bottom: 10px;
}
.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease;
}
