.card {
  width: 240px;
  border: 1px solid #280808;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2px;

  text-align: center;
  height: 100%;
}
.card img {
  width: 80%;
  height: auto;
  border-bottom: 10px;
}
.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* .main-style {
  padding: 16px;
  background-color: #282c34;
  color: white;
} */
.content-wrapper {
  display: flex;
  flex: 1;
  padding: 20px;
}
.sidebar-style {
  width: 200px;
  background-color: #ffffff;
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 100vh;
  box-sizing: border-box;
}

.menu-style {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-style li {
  margin-bottom: 10px;
}

.style-dash {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #3c3b3b;
  text-align: center;
}

.maindash-style {
  padding: 16px;
}

/* .layout {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: sans-serif;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
 */
