.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  height: 100vh;

  width: 80%;
}
.cards-container > .card {
  margin: 15px;
}
